@model PersonelTakıp.MyModel.MyDaıreBas
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Daire Başkanlığı ekleme</h2>

<div class="container">
    <form action="/DaıreBas/Ekle2/">

        <div class="form-group">



            <label>Daire Başkanlığı</label>
            <input type="text" name="DaıreBas1" class="form-control" />





        </div>
        <div class="form-group">



            <label>Acıklama</label>
            <input type="text" name="Acıklama" class="form-control" />





        </div>



        <div class="form-group">



            <button class="btn btn-success">  Yeni Ekle  </button>




        </div>




    </form>




</div>


